em {
    font-weight: 800;
    font-style: normal;
    font-family: "Lato";
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 0.1em dashed white;
    color: #fdcc52;
}


em:hover { border-bottom-color: white; }

header.masthead {
    background: url(../img/bg-pattern.png),linear-gradient(to left,#3db7e4,#0f204b);
}

#download a { color: #000; }
#download a:hover { color: #0f204b; }
#download em { color: white; }
